


body {
    background: rgb(224, 246, 255);
    color: #093e6c;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    font-family: "PT Serif", serif;
}


h1 {
    border-style: solid;
    border-width: 5px;
    border-radius: 30px;
    padding: 20px;
    border-color: chocolate;
    font-family: "Red Hat Text", sans-serif;
    font-size: 50px;
    background-color: rgba(255, 243, 225, 0.823);
}

h2 {
    border-style: double;
    border-width: 6px;
    padding: 5px;
    border-color: #093e6c;
    font-style: italic;
    color: chocolate;
    background-color: rgba(255, 237, 216, 0.489);
    
}

a:hover {
    color: chocolate;
}

em {

    background-color: #c2e4fa;
    border-style: hidden;
    padding: 5px 20px;
}

h3 {

    color:chocolate
}



h4 {
    
    font-style: oblique;
    border-style: none none none solid;
    border-width: 3px;
    padding: 5px;
    border-color: chocolate;
    
}

p {

    background-color: #d3ebfc;
    border-style: hidden;
    padding: 10px;
    border-radius: 30px;

}